<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The David Deutsch Anthology</title>
  </head>
  <body>
    <p>This page collects <a href="https://www.daviddeutsch.org.uk/" target="_blank">David Deutsch's</a> books, talks, and interviews.</p>
    <p>You can contribute to the list <a href="https://github.com/mokagio/david-deutsch-anthology" target="_blank">here</a>.</p>
    <h1>Books</h1>
    <% books.each do |book| %>
      <p>
        <em><%= book['name'] %></em> (<%= book['published_year'] %>)
        -
        <% book['urls'].each_with_index do |url, index| %>
          <a href="<%= url['url'] %>" target="_blank"><%= url['title'] %></a><% unless index >= book['urls'].count - 1 %>,&nbsp;<% end %>
        <% end %>
      </p>
    <% end %>

    <!-- TODO
    <h1>Talks</h1>
    <ul>
      <% talks.each do |talk| %>
        <li>
          <strong><%= talk['title'] %></strong>
          <br>
          Delivered on: <%= talk['delivered_date'] %>
        <br>
        <a href="<%= talk['url'] %>" target="_blank">Watch</a>
        </li>
      <% end %>
    </ul>
    -->

    <h1>Podcast Interviews</h1>
    <ul>
      <% podcast_interviews.each do |podcast| %>
        <%
          url = podcast['url'] || podcast['youtube_url'] || podcast['podcast_url']
          next unless url
        %>
        <li>
          <em><a href="<%= url %>" target="_blank"><%= podcast['title'] %></a></em>
          on <a href="<%= podcast['show']['url'] %>" target="_blank"><%= podcast['show']['name'] %></a>
          (<%= podcast['published_date'] %>)
        </li>
      <% end %>
    </ul>

    <h1>Other</h1>
    <ul>
      <% other.each do |item| %>
        <li>
          <a href="<%= item['url'] %>" target="_blank"><%= item['name'] %></a>
        </li>
      <% end %>
    </ul>
    <hr/>
    <p>Created by <a href="https://giolodi.com" target="_blank">Gio Lodi</a>.</p>
  </body>
</html>
